<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet">
        <link href="<%= url('/style_main_page.css') %>" rel="stylesheet" type="text/css" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body style="background-color: black;
    background-image: url(https://www.artycraftykids.com/wp-content/uploads/2017/08/Bookmarks-1-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 250px;
     ">
        <div class="col-md-5 card mx-auto" style="border-radius: 5px; opacity: 0.91;">
            <div style="text-align: center;">
                <h3 class="card-header" style="font-size: 30px;  font-family: 'Cookie', cursive;">Bookmark Manager</h3>
                <div class="card-body">
                    <h1 style="font-size: 40px; font-family: 'Cookie', cursive;">Registration</h1>
                    <br>
                    <span style="display: inline;">
                    
                        <form action="/sessions/new" method="get" >
                            <input style="float: left; margin-bottom: 20px; margin-left: 70px;" type="submit"  class="btn btn-warning" value="Sign in"  style="font-size: 20px; font-family: 'Cookie', cursive;">
                        </form>
                        <form action="/users/new" method="get" >
                            <input style="float: right; margin-bottom: 20px; margin-right: 70px; " type="submit"  class="btn btn-warning" value="Sign up"  style="font-size: 20px; font-family: 'Cookie', cursive;">
                        </form>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>



