
body{
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    margin: 250px;
}

#col-md-5{
    border-radius: 5px;
    opacity: 0.91;
}

.card-container{
    text-align: center;
}

h1{
    font-size: 40px;
    font-family: 'Cookie';
    font-style: cursive;
}

h2{
    font-size: 20px;
    font-family: 'Cookie';
    font-style: cursive; 
}

h3{
    font-size: 30px;
    font-family: 'Cookie'; 
    font-style: cursive;
}

span{
    display: inline;
}

#url{
    font-size: 20px;
     font-family: 'Cookie';
     font-style: cursive;    
}

#title{
    font-size: 20px;
    font-family: 'Cookie';
    font-style: cursive;
}

#submit{
    font-size: 20px;
    font-family: 'Cookie';
    font-style: cursive;
    margin-top: 7px;
}


#comment{
    font-size: 25px;
    font-family: 'Cookie';
    font-style: cursive;
}

#submit-comment{
    font-size: 20px;
    font-family: 'Cookie';
    font-style: cursive;
    margin-bottom: 2px;
    margin-top: 2px;
}

#left-input{
    float: left; 
    margin-bottom: 20px; 
    margin-left: 70px;
    font-size: 20px; 
    font-family: 'Cookie';
    font-style: cursive;
}

#right-input{
    float: right;
    margin-bottom: 20px;
    margin-right: 70px;
    font-size: 20px;
    font-family: 'Cookie';
    font-style: cursive;
}

#tag{
    font-size: 25px;
    font-family: 'Cookie';
    font-style: cursive;
}

#submit-tag{
    font-size: 20px;
    font-family: 'Cookie';
    font-style: cursive;
    margin-bottom: 2px;
    margin-top: 2px;
}


#submit{
    font-size: 20px;
    font-family: 'Cookie';
    font-style: cursive;
    margin-top: 7px;
}

#add-bookmark-sign-out{
    font-size: 30px;
    font-family: 'Cookie';
    font-style: cursive;
}

#tag-edit-delete-comment-fill-in{
    font-size: 20px;
    font-family: 'Cookie';
    font-style: cursive;
}

#main-page-body-style{ 
    background-color: black;
}

#main-page-content-container{
    text-align: center;
}


@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');