</html>
<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
</head>
<body>
    <ul>
        <% @bookmarks.each do |bookmark| %>
            <li><%= bookmark %></li>
        <% end %>
    </ul>
</body>
</html>