</html>
<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
</head>
<body>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li>
        <a href="<%= bookmark.url %>">
          <%= bookmark.title %>
        </a>
      </li>
    <%end%>
  </ul>
</body>
</html>