</html>
<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
</head>
<body>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li id="bookmark-<%= bookmark.id %>">
        <a href="<%= bookmark.url %>" target="_blank">
          <%= bookmark.title %>
        </a>
        <form action="/bookmarks/<%= bookmark.id %>" method="post">
          <input type='hidden' name='_method' value='DELETE'/>
          <input type="submit" value="Delete" />
        </form>
      </li>
    <% end %>
  </ul>
</body>
</html>