<html>
<head>
<title>Bookmarks New</title>
</head>

<body>
    <form action="/bookmarks" method="POST" >
        <input type="text" name="url" />
        <input type="submit" value="Submit" />
    </form>
</body>

</html>